[submodule "Iris"]
	path = Iris
	url = https://github.com/Adathelove/Iris.git
[submodule "Techne"]
	path = Techne
	url = https://github.com/Adathelove/Techne.git
[submodule "Clio"]
	path = Clio
	url = https://github.com/Adathelove/Clio.git
[submodule "Alkon"]
	path = Alkon
	url = https://github.com/Adathelove/Alkon.git
[submodule "Kedalion"]
	path = Kedalion
	url = https://github.com/Adathelove/Kedalion.git
